*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, sans-serif;

}


#cursor{
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 9999;
    position: fixed;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}

.loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 10vw 5vw;
    font-weight: 100;
    /* display: none; */
}

.line{
    /* position:relative;   */
    height: fit-content;
    font-size: 3.5vw;
    /* background-color: red; */
    line-height: 7vw;
    font-weight: 100;
    overflow: hidden;


}

.lines {
    height:fit-content;
    padding: 0 1rem;
    overflow: hidden;
    font-family: 'Plain light';
    font-weight: 100;

}

#line1{
    display: flex;
    
    gap: 7px ;
    height: fit-content;
    
}

#line3{
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    gap: 10px ;
    height: fit-content;
    position: relative;
}

#runner1{
    display: flex;
    width:5vw;
    justify-content: end;
}

.runner{

    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5vw;
    display: flex;
    align-items:top;


    

}

.text{
margin-left: 5vw;


}

.main{
    position: relative;
    background-color: #111;
}

.page1{
    height: 100vh;
    width: 100%;
    padding-top: 3vw ;
    
    box-sizing: border-box;
    /* overflow-x: hidden; */

}

.navbar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* gap: 45vw; */
    font-size: 1.2rem;
    height: 10vw;
    width: 95%;
    /* background-color: red; */



}
#dots{
    margin-top: .4rem;
    margin-left: 1rem;
}

.logo{
    display: flex;
    gap: 4rem;
    
}
.nav-p1{
    display: flex;
    
    flex-direction: column;
    font-size: 1.2rem;
    margin-left: 5vw;
}


.navp2{
    display: flex;
    gap: 3rem;

    
    
}

.page1-content{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 4rem;
    justify-content: center;
    font-size: 3.5vw;
    line-height: 1;
    /* background-color: blue; */
    width: 83vw;
    height: 70vh;
    padding-top: 1vh;
    box-sizing: border-box;


}

.content-one{
    padding-top: 1vh;
    overflow: hidden;
    height: fit-content;
}
.content-text{
    font-weight: 100;
}
.content-text span{
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-underline-offset: 10px;
}

.texts{
    

    overflow: hidden;
}

.texts span:hover{
    -webkit-text-stroke: .5px  #fff;
    color: transparent;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(35, 102, 45);
    box-sizing: border-box;
}

.video-container{
    height: 70vh;
    width: 75%;
    position: relative;
    left: 25%;
    top: 20%;
    box-sizing: border-box;
}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.player{
   height: 6vw;
   width: 6vw;
   border-radius: 50%;
   position: absolute;
   top: -7%;
   right: 10%;
   z-index: 9999;
   background-color: #ffa63d;
}

.player i{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(65, 64, 64);
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(19, 18, 18);
    padding-top: 20vh;
    margin-bottom:200vh;
}

.page4-content{ 
    min-height: 270vh;
    display: flex;
    /* flex-direction: column; */
    width: 80%;
    left: 15%;
    position: relative;
    gap: 6vw;
}

#page4-t{
    width: 89%;
    /* background-color: blue; */
    /* font-family: Arial, sans-serif; */
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 400;
    box-sizing: border-box;
    /* padding: 0 1vw; */
    padding-bottom: 9vh;
    border-bottom: 2px solid white;
    
}
#num3{
    height: 7vh;
    width: 10vh;
    /* background-color: blue; */
    font-size: 3.5vw;
    font-family: cursive;
    text-transform: uppercase;
    /* font-weight: 400; */
     

}

.page4-para{
    margin-top: 8vh;
    /* background-color: rgb(0, 136, 255); */
    width: 60%;
    font-size: 2.5vw;
    line-height: 2.2;
    /* font-weight: 100; */
    word-wrap: break-word;
    line-height: 1.1;
    font-family: 'Times New Roman', Times, serif;
}
   

.page4-img-container{
    display: flex;
    gap: 2vw;
    margin-top: 10vh;
    min-height: 80vh;
    min-width: 60vh;
    gap: 2vw;
}

.page4-img {
    height: 90vh;
    width: 35vw;
    background-image: url("https://obys.agency/wp-content/uploads/2020/07/content-image01.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}

.page4-img-text{
    width:20%;
    font-size: 1vw;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    

}
.blue-box{
    display: flex;
    min-height: 90vh;
    min-width: 35vw;
    position: absolute;
    top: 65%;
    left: 65%;
    align-items: center;
    justify-content: center;
    padding: 5vh 1vh;
}

.blue-text-container{
    display: flex;
    flex-direction: column;
    background-color: #3f7df4;
    /* gap: 1vw; */
    height:90%;
    width: 85%;
    padding: 4vh 4vh;
    padding-bottom: 7vh;

}

.blue-boxes{
    border-bottom: 1px solid white;
    display: flex;
    
    /* gap: 1vw; */
    height: 13vh;
    width: 95%;
}

.blue-left{
    display: flex;
    height: 100%;
    width: 50%;
    font-size: .7vw;
    align-items: center;
    font-weight: 100;
}

.blue-right{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.linne{
    bottom: 20vh;
    width: 78%;
    border: 1px solid #fff;
    position: absolute;
    /* margin-bottom: 10vh; */


}

