*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
    /* font-family: ; */
    color: #fff;
    /* font-family:Arial, Helvetica, sans-serif ; */

}

body{
    height: 100vh;
    width: 100vw;
    
}

.loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 10vw 5vw;
    font-weight: 100;
}

.line{
    /* position:relative;   */
    height: fit-content;
    font-size: 3.5vw;
    /* background-color: red; */
    line-height: 7vw;
    font-weight: 100;
    overflow: hidden;


}

.lines {
    height:fit-content;
    color: rgb(6, 115, 211);
    padding: 0 1rem;
    overflow: hidden;
    font-family: 'plain light';
    font-weight: 100;

}

#line1{
    display: inline-block;
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    gap: 7px ;
    height: fit-content;
    position: relative;
    /* font-family: 'plain light'; */

}

#line3{
    display: inline-block;
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    gap: 10px ;
    height: fit-content;
    position: relative;
}



.runner{
    /* position: absolute; */
    /* margin-left: 5px; */
    font-size: 3.5vw;
    display: flex;
    /* height: 10px; */
    /* margin-top: 1px; */

}
/* .runner-container{
    display: flex;
    align-items: start;
} */
.text{
    position: absolute;
    top: 0; 
    left: 20%;
}

.main{
    position: relative;
    background-color: #111;
}

.page1{
    height: 100vh;
    width: 100vw;

}